html, body {
  text-align: center;
  background: url('./background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.Grid {
  margin: 5%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.App-logo-static {
  height: 150px;
  cursor: pointer;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 99;
}

.menu {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 170px;
  left: 0;
  right: 0;
  font-weight: 800;
  font-size: 35px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0, 0.42);
  cursor: pointer;
  z-index: 99;
}

.menu-hidden {
  visibility: hidden;
}

.App-header {
  /* background-color: #282c34; */
  max-height: 20vh;
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
